<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" ng-hide="step !== 0">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Garmin Connect Activity ID</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="ID" ng-model="activityId">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-primary" ng-click="showActivity()">Import</button>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" ng-hide="step !== 1">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Splits JSON</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{}" ng-model="splitsJson">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <iframe ng-src="{{splitsUrl}}" width="100%" height="32px" frameBorder="0" scrolling="no"></iframe>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Activity JSON</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{}" ng-model="activityJson">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <iframe ng-src="{{activityUrl}}" width="100%" height="32px" frameBorder="0" scrolling="no"></iframe>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-primary" ng-click="import()">Import</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
